/* 
==========================================================================
Reset
========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
html {
-webkit-font-smoothing: antialiased;
}

/* 
==========================================================================
Style
========================================================================== */

body {
  background: #F1F2F2;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(0,0,0,.80);
}
a {
  text-decoration: none;
  color: #DB8929;
}
a:hover {
  color: #FBB040;
}
.showcase {
  width: 1110px;
  margin: 0 auto;
}
.text-showcase {
  width: 700px;
  margin: 0 auto;
}
.text-showcase > p {
  margin-bottom: 20px;
}
.clear {
  clear: both;
}
.icon-btn {
  display: block;
  width: 42px;
  height: 42px;
  background: #E6E7E8;
  color: rgba(0,0,0,.44);
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 0 rgba(0,0,0,.2);
}
.icon-btn:hover {
  background: #F1F2F2;
  color: rgba(0,0,0,.66);
}
.icon-small {
  font-size: 20px;
  color: rgba(0,0,0,.20);
}
.icon-small:hover {
  color: rgba(0,0,0,.44);
}
#hero-header {
  position: relative;
  background: #FFFFFF;
  padding: 40px 14px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  -o-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
}
#hero-header > .showcase {
  
}
#hero-logo {
  display: block;
  background: url(../images/logo_sunflower.png) center top no-repeat;
  color: rgba(0,0,0,.66);
}
#hero-logo > h1 {
  padding-top: 92px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
#global-function {
  position: absolute;
  right: 14px;
  bottom: 14px;
}
#global-function > ul > li {
  float: left;
  margin-left: 14px;
}
#hero-content {
  margin: 40px 0;
}
.feed {
  width: 330px;
  float: left;
  margin: 0 20px;
}

.feed-tag {
  color: rgba(0,0,0,.33);
}

.feed-tag:hover {
  color: rgba(0,0,0,.44);
}

.feed-media a {
  word-wrap: break-word;
}
.feed > h2 {
  font-size: 18px;
  color: rgba(0,0,0,.44);
  font-weight: bold;
  margin-bottom: 14px;
}
.feed-item:hover {
  background: rgba(0,0,0,.01); 
}
.feed-text {
  color: rgba(0,0,0,.66);
}
.feed-text:hover {
  color: rgba(0,0,0,.8);
}
.feed-img {
  max-width: 300px;
}

.tag-list {
  margin-bottom: 8px;
}
.tag-list > li {
  float: left;
  background: rgba(0,0,0,.1);
  font-size: 12px;
  font-weight: bold;
  color: rgba(0,0,0,.44);
  padding: 3px 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.feed-list {
  background: #FFFFFF;
  margin-bottom: 14px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  -o-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.feed-list > .feed-item {
  position: relative;
  padding: 14px;
  border-bottom: 1px solid #D1D3D4;
}
.feed-list > .feed-item.alt {
  background: #FBB040;
  color: #FFFFFF;
  border: none;
}
.feed-list > .feed-item.alt > .content {
  font-weight: bold;
}
.feed-list > .feed-item.alt > footer > .provider-detail > .info > a {
  color: rgba(0,0,0,.66);
}
.feed-list > .feed-item.alt > footer > .provider-detail > .info > a:hover {
  color: rgba(0,0,0,.88);
}
.feed-list > .feed-item > .link-desc {
  display: block;
  font-size: 12px;
  color: rgba(0,0,0,.44);
}
.feed-list > .feed-item:last-child {
  border-bottom: none;
}
.feed-list > .feed-item > p {
  margin-bottom: 14px;
}
.feed-list > .feed-item > p > b {
  color: #344A5F;
  font-weight: bold;
}
.feed-list > .feed-item > footer {
  font-size: 12px;
  margin-top: 14px;
}
.feed-list > .feed-item > footer > .icon-small {
  position: absolute;
  right: 14px;
  bottom: 14px;
}
.provider-pic {
  width: 32px;
  height: 32px;
  background: #F1F1F2;
  float: left;
  margin-right: 6px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  overflow: hidden;
}
.provider-detail {
  color: rgba(0,0,0,.44);
}
.social-twitter {
  color: #27AAE1;
}
.social-twitter:hover {
  color: #69DCDC;
}
.feature-story {
  position: relative;
  display: block;
  height: 172px;
  padding: 14px;
  margin-bottom: 14px;
  color: #FFFFFF;
  font-weight: bold;
  background: url(../images/feature_01.jpg) no-repeat;
  background-size: cover;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  -o-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.feature-story:hover .darklayer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.4)), to(rgba(0,0,0,1)));
  background-image: -webkit-linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,1));
  background-image: -moz-linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,1));
  background-image: -ms-linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,1));
  background-image: -o-linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,1));
}
.feature-text {
  position: absolute;
  bottom: 14px;
  left: 14px;
  color: #FFFFFF;
  z-index: 1;
}
.darklayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.2)), to(rgba(0,0,0,.9)));
  background-image: -webkit-linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.9));
  background-image: -moz-linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.9));
  background-image: -ms-linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.9));
  background-image: -o-linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.9));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



